﻿@model SolutionName.Web.SalesOrderViewModel
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Delete Sales Order";
}

@{ string data = new JavaScriptSerializer().Serialize(Model); }

@section scripts
{
    <script src="~/Scripts/knockout-3.4.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/salesorderviewmodel.js"></script>
    <script type="text/javascript">
        var salesOrderViewModel = new SalesOrderViewModel(@Html.Raw(data));
        ko.applyBindings(salesOrderViewModel);
    </script>
}

@Html.Partial("_DisplaySalesOrder")

<p><button class="btn btn-danger" data-bind="click: $root.save">Delete</button></p>
