﻿@model SolutionName.Web.SalesOrderViewModel
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Edit Sales Order";
}

@{ string data = new JavaScriptSerializer().Serialize(Model); }

@section scripts
{
    <script src="~/Scripts/knockout-3.4.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/salesorderviewmodel.js"></script>
    <script type="text/javascript">
        var salesOrderViewModel = new SalesOrderViewModel(@Html.Raw(data));
        ko.applyBindings(salesOrderViewModel);
    </script>
}

@Html.Partial("_EditSalesOrder")
